@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}
.user a{
  color: white;
  font-size: 1.3rem;
 
}
.username{
padding: 5px 10px;
text-transform: uppercase;
  background-color: #1daca4;
  color: white;
  box-sizing: border-box;
  font-weight: 600;
  margin-top:-1% ;
  border-radius: 50px;
  font-size: 1.2rem;
  margin-right: 5pz;



  animation:backInRight;
  animation-duration: 2.7s;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
.sair {
  position: absolute;
  /* Defina a altura e largura da div container para ocupar toda a tela */
  height: 10vh;
  width: 5vw;
  padding: 3%;
  right: 0;
margin: auto;
z-index: 99;
background-color: #1daca4;  display: flex;
justify-content: center;
align-items: center;color: white;
border-radius: 10px;
display: none;
}
.centered-element a{
  text-decoration: none;
  color: white;
}
.centered-element {
  position: relative;


  text-decoration: none;


  z-index: 9999; /* Define um z-index alto para o elemento ficar acima dos outros */
/* width:; */
  /* height: 50vh; */


}
nav{
  display: flex;
  height: 80px;
  width: 100%;
background-color: #111111cb;
   /* background-color: transparent; */
   backdrop-filter: blur(40px);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 150px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  color: black;
}

nav .logo{
 
  animation:backInLeft;
  animation-duration: 1.9s;
}
.logo img{

  width: 100px;
  border-radius: 100%;
  margin-top: 4%;
  height: 70px;

}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  animation:backInRight;
  animation-duration: 2.1s;
  margin-top: 1%;
}
nav ul li{
  margin: 0 2px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;

}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
    
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
    z-index: 10;
    font-size: 35px;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
   
font-size: 35px;

  }
  .user {
justify-content: space-between;
align-items: center;
margin: auto;
width: 150px;
  }
  .username{
    width: 50px;
    margin-top: 18%;
  }
  nav ul{
    position: fixed;
    top: 70px;
    left: -100%;
    /* background: black; */
    backdrop-filter: blur(30px);
    background-color: #000000cc;
    backdrop-filter: blur(10px);
    border:1px solid rgba(0, 0, 0, 0.26);
    height: 100vh;
    width: 100%;

    text-align: center;
    display: block;
    z-index: -10;

    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;

  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    color: white;
    
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}